body{
    margin-left:2%;
    margin-right: 2%;
}


/* .navbar{
   
    width: 80%;
    height: auto;
    cursor: pointer;
    transition: 0.1s;

} */
img:hover{
    transform: scale(1.1);
    box-shadow: black;

}
img{
     position: sticky;
    height: 250px;
    width: 100%;  
    cursor: pointer;
    transition: 0.1s;

}
.line1{
    font-size:4em;
}
h4{
    font-size: 2vi;
}
.mess{
    margin-top: 20px;
    resize: none;
    background-color: #f0b1b1;
    color: black;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
   outline: none;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 200;
   font-size: 16px;
   line-height: 1.4;
   width: 80%;
   transition: 0.3s;
}
.mess:hover{
   cursor: pointer;
   background-color: #f7c3c3;
}
.mess:hover:focus{
    cursor: text;
    color: #333333;
    background-color:rgb(255, 255, 255);
    border-color: black;
}
ul{
    line-height: 1.5;
}
ol{
    line-height: 1.8; 
}
li{
    font-size: 20px;
}
.big{
    font-size: 4vw;  
    color: rgb(145, 89, 34);
}
.small{
    color: rgb(90, 4, 90);
}
table{
  
    border-spacing: 20px;
    width: 100%;
}
.pin{
    font-weight: 100;
    color: rgb(141, 130, 130);
}
.rol{
    font-weight: bolder;
    font-size: 25px;
    color: rgb(194, 98, 2);
}
.roll{
    font-size: 20px;
}
tr{
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(128, 113, 113);   
}
