/* body{
    margin: 10%;
}
.headimg{
width: 50%;

}    */
.header{
    width: 100%;
 
}
/* nav for the work */
nav{
    background-image: url(./assets/images/image-omelette.jpg);
    text-align: center;
    margin-left: 9%;
    height: 300px; 
     width: 80%;
    padding: 20px 0;
    text-align: center;
} 
/* img{
    height: 50px;
    width: 50px;
 }  */